:root {
    --Order-BTN:rgba(5, 191, 219,.6);
    --FEATURE-BUTTON-COLOR:#68EDC6;

}
.Checkout{
    min-height: calc(100vh - 104.6px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom:2rem;
}
.CheckOutDetails{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background-color: white;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: .5px .5px 10px var(--Order-BTN);
}
.CheckOutDetails h1{
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    color:tomato;
}
.CheckOutDetails h3 {
    text-align: center;
    font-size: 1.25rem;
    color: var(--Order-BTN);
}
.CheckOutDetails h3 span {
    font-size: 1.75rem;
    color: tomato;
}
.CheckOutDetails li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}
.CheckOutDetails h2{
    font-size: 1.75rem;
    color: rgba(255, 99, 71,.8);
}
.CheckOutDetails ul {
    border-bottom: 2px solid black;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.CheckOutDetails li label{
    font-size: 1.5rem;
    color: rgba(0, 150 , 0 ,.8);
}
.FinishingOrder{
    width: 150px;
    padding: .75rem;
    cursor: pointer;
    transition: all .25s;
    color: white;
    background-color:rgba(5, 191, 219,1);
    border: none;
    border-radius: 1rem;
}
.FinishingOrder:hover {
background-color: var(--Order-BTN);
color: black;
}
.CheckOutDetails li input{
    border: .25px solid var(--FEATURE-BUTTON-COLOR);
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    letter-spacing: 3px;
}
.ErrosInSignIn{
    color: red;
}
 th  {
    border-bottom: 1px solid var(--FEATURE-BUTTON-COLOR);
    padding: 3px;
    color: green;
}

table {
    width: 100%;
    border-collapse: collapse;
}
td{
    text-align: center;
}
.CheckOutDetails input {
    width: 100px;
}
.hidden{
    display: none;
}
@media only screen and (max-width:500px){
 .CheckOut h1{
    font-size: 1.2rem;
    margin: 0;
    text-align: justify;
  }
  .CheckOutDetails form ul li input {
    width: 150px;
  }
  .CheckOutDetails ul li label {
    font-size: 1.2rem;
  }
  .Checkout{
    margin-top: 3.25rem;
  }
  
}
@media only screen and (max-width:300px) {
    .CheckOutDetails h1 {
        font-size: 1rem;
        text-align: center;
    }
}